{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "quotes": [2, "single"],
        "strict": [2, "never"],
        "no-console": 0
    }
}